<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LCR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 這個區段定義 My.Application.Log 的記錄組態-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <LCR.My.MySettings>
            <setting name="DELCRCOMName" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="ComponentSTDValue" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="ComponentUSLPercent" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ComponentLSLPercent" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DelayForTriggerMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayForTriggerSec" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OptWorkingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayForceColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DisplayBackgroundColor" serializeAs="String">
                <value>64, 0, 64</value>
            </setting>
            <setting name="SaveGraphic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintGraphic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XScaleMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XScaleSec" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="XScaleMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XScaleRecords" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="YScaleAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YScaleStart" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="YScaleStop" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="GraphicColorBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GraphicColorGridLine" serializeAs="String">
                <value>128, 64, 0</value>
            </setting>
            <setting name="GraphicColorReadingLine" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="GraphicColorSLLine" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GraphicColorText" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="MonitorColorBack" serializeAs="String">
                <value>0, 0, 64</value>
            </setting>
            <setting name="MonitorColorFore" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MonitorColorTextBack" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="GridColorBack" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="GridColorGridLine" serializeAs="String">
                <value>192, 64, 0</value>
            </setting>
            <setting name="GridColorHFore" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridColorHBack" serializeAs="String">
                <value>192, 64, 0</value>
            </setting>
            <setting name="GridColorCFore" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="GridColorCBack" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="TimerTrigger" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualTrigger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FieldIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldFreq" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldReading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldUnit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldTheta" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldQ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldZ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldUSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldLSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldTol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldNGPass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldRefValue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldPercent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DutStdUnit" serializeAs="String">
                <value>uF</value>
            </setting>
            <setting name="MonitorMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorMin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorMaxVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorMinVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </LCR.My.MySettings>
    </userSettings>
</configuration>
